.page-header

  - if @dates.any?
    .pull-right
      .daterange.daterange--double.two
  %h2
    Dates to Remember
    = link_to '+ Add Date', new_date_path, class: 'btn btn-xs btn-primary'

- if @travel_count > 0
  %p.alert.alert-info You have spent <b>#{pluralize(@travel_days, 'day')}</b> traveling to <b>#{pluralize(@travel_count, 'place')}</b> since <b>#{@travel_start.to_s(:rfc822)}</b>.

- if @dates.select{|d| d.date > Date.today }.any?
  %h2.lead Upcoming Events
  = render 'table', dates: @dates.select{|d| d.date > Date.today }

- if @dates.select{|d| d.date <= Date.today }.any?
  %h2.lead Past Events
  = render 'table', dates: @dates.select{|d| d.date <= Date.today }
- else
  %p.alert.alert-info You have not created any dates yet

:javascript
  $(document).ready(function() {
    if ($('.daterange .dr-input').length == 0) {
      new Calendar({
        element: $('.daterange'),
        earliest_date: "#{@earliest_date}",
        latest_date: moment("#{@latest_date}"),
        start_date: moment("#{@start_date}"),
        end_date: moment("#{@end_date}"),
        presets: true,
        callback: function() {
          var start_date = this.start_date.format('YYYY-MM-DD')
          var end_date = this.end_date.format('YYYY-MM-DD')
          window.location.href = window.location.pathname+"?"+$.param({'start_date': start_date,'end_date': end_date })
        }
      });
    }
  })
