%br
= table_for @dates, table_html: { class: 'table table-hover table-bordered' }, sortable: true do |table|
  = table.column :title
  = table.column data: -> { table.current_row.date.to_s(:rfc822) }, header: 'Date'
  = table.column data: -> { component_date table.current_row.date }, header: 'Duration', sortable: false

= form_for @date, url: { action: 'create' }, html: { class: 'form well' } do |f|
  .form-group
    = f.text_field :title, class: 'form-control', placeholder: 'Title'
  .form-group
    = f.date_field :date, class: 'form-control'
  .form-group
    = f.submit 'Create', class: 'btn btn-primary'
